.intro-banner{
    background-image: url('https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode: overlay;
}
.title{
   
    font-weight: 500;
    font-size: 30px;
}
.tes{
    width:15rem;
    background: gray;
}